@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_contracts {
    position: absolute !important; 
    left: 30px !important;
}

.border_color {
    border-color: #e69e9e;
}

.color {
    background-color: #888888;
}

.border_color-background {
    background-color: #c2c2c2;
    
}

.button_next {
    background-color: #2f9237 !important;
    width: 30%; 
    margin: 0 15px;
   
   
}

.button_previous {
    background-color: #d6c739 !important;
    width: 30%;
}
